# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native builds
ios/
android/
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Editor
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
*.log
.cache/
